<h3>Deleting <span class="muted">{{docTitle}}</span></h3>
<form method="post" action="{{urlFor resource="doc" action="delete"}}">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <input type="hidden" value="{{into}}" name="into">
  <input type="hidden" value="{{docName}}" name="docName">
  <p>Are you sure? This operation cannot be undone!</p>
  <div class="form-item form-buttons">
    <input type="submit" class="button primary" value="Yes, delete">
    <a class="button outline j-last" href="{{urlFor resource="wiki" id=docName into=into}}">No, cancel</a>
  </div>
</form>
