<link rel="stylesheet" href="{{urlFor resource="vendor" id="codemirror/lib/codemirror.css"}}">
<link rel="stylesheet" href="{{urlFor resource="css" id="codemirror-ext.css"}}">
{{>errors}}
<p>
  <span class="sans do-preview">Preview</span>
  <span class="sans do-edit hidden">Back to edit</span>
</p>
<section class="editor">
  <h1>Editing "{{docTitle}}"</h1>
  <form id="editor-form" method="post" action="{{urlFor resource="doc" action="update"}}">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" value="{{into}}" name="into">
    <input type="hidden" value="{{docName}}" name="docName">
    {{#if (eq docName wikiIndex)}}
    <input type="hidden" name="docTitle" value={{wikiIndex}}>
    {{else}}
    <div>
      <input autofocus type="text" value="{{docTitle}}" name="docTitle" required>
    </div>
    {{/if}}
    <div>
      <textarea id="editor-content" name="content">{{{content}}}</textarea>
    </div>
    {{#if (hasFeature "gitSupport")}}
    <div>
      <input type="text" value="" name="comment" placeholder="A short, optional comment about this change">
    </div>
    {{else}}
    <input type="hidden" value="" name="comment">
    {{/if}}
    <div>
      <input type="submit" value="Save"> or <a href="{{urlFor resource="wiki" id=docName into=into}}">Cancel</a>
    </div>
  </form>
  <p>
    <a href="{{urlFor resource="doc" id=docName action="delete" into=into}}" class="sans">Delete this document…</a>
  </p>
</section>
<section class="preview hidden">
  <h1>Previewing {{docTitle}}</h1>
  <div class="content"></div>
</section>
<script src="{{urlFor resource="vendor" id="codemirror/lib/codemirror.min.js"}}"></script>
<script src="{{urlFor resource="js" id="editor.js"}}"></script>
<script src="{{urlFor resource="js" id="app.js"}}"></script>
