<link rel="stylesheet" href="{{urlFor resource="vendor" id="codemirror/lib/codemirror.css"}}">
<link rel="stylesheet" href="{{urlFor resource="css" id="codemirror-ext.css"}}">
{{>errors}}
<div class="group form-buttons">
  <span class="button small outline float-right do-preview j-last">Preview</span>
  <span class="button small outline float-right do-edit hide j-last">Back to edit</span>
</div>
<section class="editor">
  <h2>Creating {{#if (eq docTitle '')}}a new document{{else}}<span class="muted">{{docTitle}}</span>{{/if}}</h2>
  <form id="editor-form" method="post" action="{{urlFor resource="doc" action="create"}}">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="into" value="{{into}}">
    {{#if (eq docTitle wikiIndex)}}
    <input type="hidden" name="docTitle" value={{wikiIndex}}>
    {{else}}
    <div class="form-item">
      <label>Document title <span class="req">*</span></label>
      <input autofocus type="text" value="{{docTitle}}" name="docTitle" required>
      <div class="desc">Just enter a title of the document, without specifying any path</div>
    </div>
    {{/if}}
    <div class="form-item">
      <label>Document body (Markdown) <span class="req">*</span></label>
      <textarea id="editor-content" name="content">{{content}}</textarea>
    </div>
    <div class="form-item form-buttons">
      <input type="submit" class="button primary" value="Save">
      <a class="button outline j-last" href="{{urlFor resource="wiki" id=docName into=into}}">Cancel</a>
    </div>
  </form>
</section>
<section class="preview hide">
  <h1>Previewing</h1>
  <div class="content"></div>
</section>
<script src="{{urlFor resource="vendor" id="codemirror/lib/codemirror.min.js"}}"></script>
<script src="{{urlFor resource="js" id="editor.js"}}"></script>
<script src="{{urlFor resource="js" id="app.js"}}"></script>
