<h3>History of <span class="muted">{{docTitle}}</span></h3>

<table>
  <thead>
    <tr>
      <th>Version</th>
      <th>Author</th>
      <th>Message</th>
      <th>Last update</th>
    </tr>
  </thead>
  <tbody>
    {{#each history}}
    <tr>
      <td><a title="{{this.hash}}" href="{{urlFor resource="wiki" id=../docName into=../into v=this.hash}}">{{ellipsize this.hash}}</a></td>
      <td>{{this.author_name}}</td>
      <td>{{this.message}}</td>
      <td>{{timeAgo this.date}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
