<h1>History of {{docTitle}}</h1>

<table>
  <thead>
    <tr>
      <th>Version</th>
      <th>Author</th>
      <th>Message</th>
      <th>Last update</th>
    </tr>
  </thead>
  <tbody>
    {{#each history}}
    <tr>
      <td><a href="{{urlFor resource="wiki" id=../docName into=../into v=this.hash}}">{{this.hash}}</a></td>
      <td>{{this.author_name}}</td>
      <td>{{this.message}}</td>
      <td>{{timeAgo date=this.date}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>
