<h3>Recent edits</h3>

<ul>
{{#each recentEdits}}
  <li>
    <p>{{this.item.dirName}} / <a href="{{urlFor resource="wiki" id=this.item.docName into=this.item.dirName}}">{{this.item.docName}}</a></p>
    <p>{{this.log.message}}</p>
    <p>{{this.log.author_name}} – {{this.log.date}}</p>
  </li>
{{/each}}
</ul>
