{{>errors}}
<h1>Creating {{#if (eq folderName '')}}a folder{{else}}{{folderName}}{{/if}}</h1>
<form method="post" action="{{urlFor resource="folder" action="create"}}">
  <div>
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" name="into" value="{{into}}">
    <input autofocus type="text" name="folderName" value="{{folderName}}" required>
  </div>
  <div>
    <input type="submit" value="Save">
  </div>
</form>
