<h3>Deleting {{into}} / <span class="muted">{{folderName}}</span></h3>
<form method="post" action="{{urlFor resource="folder" action="delete"}}">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <input type="hidden" value="{{into}}" name="into">
  <input type="hidden" value="{{folderName}}" name="folderName">
  <p>Are you sure? This operation cannot be undone!</p>
  <div class="form-item form-buttons">
    <input type="submit" class="button primary" value="Yes, delete">
    <a class="button outline j-last" href="{{urlFor resource="folder" id=folderName into=into}}">No, cancel</a>
  </div>
</form>
