{{>errors}}
<h2>Creating {{#if (eq folderName '')}}a folder{{else}}<span class="muted">{{folderName}}</span>{{/if}}</h2>
<form method="post" action="{{urlFor resource="folder" action="create"}}">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <input type="hidden" name="into" value="{{into}}">
  <div class="form-item">
    <label>Folder name <span class="req">*</span></label>
    <input autofocus type="text" name="folderName" value="{{folderName}}" required>
  </div>
  <div class="form-item form-buttons">
    <input type="submit" class="button primary" value="Save">
    <a class="button outline j-last" href="{{urlFor resource="folder" id=into action="list"}}">Cancel</a>
  </div>
</form>
