<div>{{{breadcrumb dirName=dirName}}}</div>

{{#if (hasFeature "codeHighlighter")}}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/{{codeHighlighterTheme}}.min.css">
{{/if}}

{{#if (not (eq docVersion 'HEAD'))}}
<div class="message warning">
<h5>Warning</h5> you may not being reading the <a href="{{urlFor resource="wiki" id=docName into=dirName}}">latest revision</a> of this page
</div>
{{/if}}


{{#if docTitle}}
<h1>{{docTitle}}</h1>
{{/if}}

<article>
{{{content}}}
</article>
<hr>

<p>
  <a class="button outline small" href="{{urlFor resource="doc" id=docName action="update" into=dirName}}" class="sans">Edit this document</a>
  {{#if (hasFeature "gitSupport")}}
    <a class="button outline small" href="{{urlFor resource="doc" id=docName action="history" into=dirName}}" class="sans">Document history</a>
  {{/if}}
</p>
