<nav class="breadcrumbs">{{{breadcrumb dirName=dirName}}}</nav>

<h3>~ Child folders ~</h3>

{{#if folderList.length}}
<ul>
  {{#each folderList as |folder|}}
  <li><a href="{{urlFor resource="folder" action="list" id=(concat ../dirName "/" folder)}}">{{this}}</a></li>
  {{/each}}
</ul>
{{else}}
  <p class="muted">No other folders in here.</p>
{{/if}}

<h3>~ Documents ~</h3>

{{#if docList.length}}
<ul>
  {{#each docList}}
  <li><a href="{{urlFor resource="wiki" id=this into=../dirName}}">{{this}}</a></li>
  {{/each}}
</ul>
{{else}}
  <p class="muted">No documents in here.</p>
{{/if}}
<hr>
{{#if (neq folderName '')}}
<div class="form-buttons">
  <a class="button small outline" href="{{urlFor resource="folder" id=folderName into=parentDirname action="rename"}}">Rename this folder</a>
  {{#if (and (eq docList.length 0) (eq folderList.length 0))}}
  <a class="button small outline j-caution j-last" href="{{urlFor resource="folder" id=folderName into=parentDirname action="delete"}}">Delete this folder</a>
  {{/if}}
</div>
{{/if}}
