<h1>List of documents</h1>

<ul>
{{#each folderList}}
  <li><a href="{{urlFor resource="folder" action="list" id=this}}">{{this}}</a></li>
{{/each}}
</ul>

<hr>

<ul>
{{#each docList}}
  <li><a href="{{urlFor resource="wiki" id=this}}">{{this}}</a></li>
{{else}}
No documents in this folder
{{/each}}
</ul>
