<div>{{{breadcrumb dirName=dirName}}}</div>

<h3>~ Folders ~</h3>

{{#if folderList.length}}
<ul>
  {{#each folderList as |folder|}}
  <li><a href="{{urlFor resource="folder" action="list" id=(concat ../dirName "/" folder)}}">{{this}}</a></li>
  {{/each}}
</ul>
{{else}}
  <p>No other folders in this folder.</p>
{{/if}}

<h3>~ Documents ~</h3>

{{#if docList.length}}
<ul>
  {{#each docList}}
  <li><a href="{{urlFor resource="wiki" id=this into=../dirName}}">{{this}}</a></li>
  {{/each}}
</ul>
{{else}}
  <p>No documents in this folder.</p>
{{/if}}
<hr>
{{#if (neq folderName '')}}
<p>
  <a href="{{urlFor resource="folder" id=folderName into=parentDirName action="rename"}}" class="sans">Rename this folder</a>
  {{#if (and (eq docList.length 0) (eq folderList.length 0))}}
  <a href="{{urlFor resource="folder" id=folderName into=parentDirName action="delete"}}" class="sans">Delete this folder</a>
  {{/if}}
</p>
{{/if}}
