<link rel="stylesheet" href="{{urlFor resource="vendor" id="simplemde/simplemde.min.css"}}">
<link rel="stylesheet" href="{{urlFor resource="css" id="codemirror-ext.css"}}">
{{>errors}}
<div class="group form-buttons">
  <a class="button small outline float-right j-caution j-last" href="{{urlFor resource="doc" id=docName action="delete" into=into}}">Delete…</a>
  <span class="button small outline float-right do-preview">Preview</span>
  <span class="button small outline float-right do-edit hide">Back to edit</span>
</div>
<section class="editor">
  <h3>Editing <span class="muted">{{docTitle}}</span></h3>
  <form id="editor-form" method="post" action="{{urlFor resource="doc" action="update"}}">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <input type="hidden" value="{{into}}" name="into">
    <input type="hidden" value="{{docName}}" name="docName">
    {{#if (eq docName wikiIndex)}}
    <input type="hidden" name="docTitle" value={{wikiIndex}}>
    {{else}}
    <div class="form-item">
      <label>Document title <span class="req">*</span></label>
      <input autofocus type="text" value="{{docTitle}}" name="docTitle" required>
      <div class="desc">Just enter a title of the document, without specifying any path</div>
    </div>
    {{/if}}
    <div class="form-item">
      <label>Document body (Markdown) <span class="req">*</span></label>
      <textarea id="editor-content" name="content">{{{content}}}</textarea>
    </div>
    {{#if (hasFeature "gitSupport")}}
    <div class="form-item">
      <label>Comment to this update</label>
      <input type="text" value="" name="comment">
      <div class="desc">A short, optional comment stating the reason for this change</div>
    </div>
    {{else}}
    <input type="hidden" value="" name="comment">
    {{/if}}
    <div class="form-item form-buttons">
      <input type="submit" class="button primary" value="Save">
      <a class="button outline j-last" href="{{urlFor resource="wiki" id=docName into=into}}">Cancel</a>
    </div>
  </form>
</section>
<section class="preview hide">
  <h2><span class="muted">{{docTitle}}</span></h2>
  <div class="content"></div>
</section>
<script src="{{urlFor resource="vendor" id="simplemde/simplemde.min.js"}}"></script>
<script src="{{urlFor resource="js" id="editor.js"}}"></script>
<script src="{{urlFor resource="js" id="app.js"}}"></script>
