<nav class="breadcrumbs">{{{breadcrumbs dirName=dirName docTitle=docTitle}}}</nav>

{{#if (hasFeature "codeHighlighter")}}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/{{codeHighlighterTheme}}.min.css">
{{/if}}

{{#if (not (eq docVersion 'HEAD'))}}
<div class="message warning">
  <h5>Warning</h5> you may not being reading the <a href="{{urlFor resource="wiki" id=docName into=dirName}}">latest revision</a> of this page
</div>
{{/if}}

{{#if (not isIndex)}}
<h1>{{docTitle}}</h1>
{{/if}}

<article>
{{{content}}}
</article>
<hr>

<div class="form-buttons">
  {{#if (userCan "editDocuments")}}
    {{#if (not (eq docVersion 'HEAD'))}}
      <a class="button outline small" href="{{urlFor resource="doc" id=docName action="restore" into=dirName v=docVersion}}">Restore this version</a>
    {{else}}
      <a class="button outline small" href="{{urlFor resource="doc" id=docName action="update" into=dirName}}">Edit this document</a>
    {{/if}}
  {{/if}}
  {{#if (hasFeature "gitSupport")}}
    <a class="button outline small j-last" href="{{urlFor resource="doc" id=docName action="history" into=dirName}}">Document history</a>
  {{/if}}
</div>
