{{>errors}}
<h3>Renaming {{into}} / <span class="muted">{{folderName}}</span></h3>
<form method="post" action="{{urlFor resource="folder" action="rename"}}">
  <input type="hidden" name="_csrf" value="{{csrfToken}}">
  <input type="hidden" name="into" value="{{into}}">
  <input type="hidden" name="currentFolderName" value="{{folderName}}">
  <div class="form-item">
    <label>New name for the folder <span class="req">*</span></label>
    <input autofocus type="text" name="folderName" required>
  </div>
  <div class="form-item form-buttons">
    <input type="submit" class="button primary" value="Rename">
    <a class="button outline j-last" href="{{urlFor resource="folder" id=folderName into=into}}">Cancel</a>
  </div>
</form>
