<!DOCTYPE html>
<html>
  <head profile="http://www.w3.org/2005/10/profile">
    <meta charset="utf-8">
    <title>{{title}}</title>
    <meta name="generator" content="jingo wiki">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville|Roboto" rel="stylesheet">
    <link rel="stylesheet" href="{{urlFor resource="vendor" id="kube/kube.css"}}">
    <link rel="stylesheet" href="{{urlFor resource="css" id="kube-ext.css"}}">
    <link rel="stylesheet" href="{{urlFor resource="css" id="styles.css"}}">
    {{{custom "favicon"}}}
    {{{custom "head"}}}
    {{{custom "styles"}}}
  </head>
  <body>
    <header class="j-header row align-center">
      <a class="j-main-title" href="/">
        {{{custom "logo"}}}
        {{{custom "title"}}}
      </a>
      <nav class="col col-6 form-buttons text-right">
        <a class="button small outline" href="{{urlFor resource="doc" into=dirName}}">New doc</a>
        <a class="button small outline" href="{{urlFor resource="folder" into=dirName}}">New folder</a>
        {{#if (hasFeature "gitSupport")}}
        <a class="button small outline j-last" href="{{urlFor resource="doc" action="recent" into=dirName}}">Recent edits</a>
        {{/if}}
      </nav>
    </header>
    <main class="row align-center">
      <div class="col col-6">
        {{{body}}}
      </div>
    </main>
    {{{custom "content"}}}
    {{{custom "scripts"}}}
  </body>
</html>
