<!DOCTYPE html>
<html>
<head profile="">
  <meta charset="utf-8">
  <meta name="generator" content="jingo wiki">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/public/css/styles.css">
  <link rel="stylesheet" href="/public/vendor/tufte-css/tufte.css">
  <title>{{title}}</title>
</head>
<body>
  <nav class="sans">
    <a href="{{urlFor resource="home"}}">Home</a>
    <a href="{{urlFor resource="wiki"}}">Documents list</a>
    <a href="{{urlFor resource="doc"}}">New doc</a>
    <a href="{{urlFor resource="folder"}}">New folder</a>
  </nav>
{{{body}}}
</body>
</html>
