<h1>Welcome to Jingo</h1>
<p>You are reading this page either because your document repository (<em>{{documentRoot}}</em>)
  is completely empty, or the document that you have defined as the "index" (<em>{{wikiIndex}}</em>)
  doesn't exist yet or you configured it wrong.
</p>

<p>Please select one of the following options</p>

<ul>
  <li><a href="{{urlFor resource="doc" id=wikiIndex}}">I want to create the <em>{{wikiIndex}}</em> document</a></li>
  <li><a href="{{urlFor resource="folder" action="list"}}">I want to see document list</em> document</a></li>
  <li><a href="/">I fixed the mistake, let's try again</a></li>
</ul>
